<!doctype html>
<!DOCTYPE html>
<html>
<head>
	<title>Bright Events</title>
	<link rel="stylesheet" href="..\static\css\style.css" />
</head>
<body>
<div id="login">
	<form style="align:center" method="post" action="/signup">
		<h2> Sign up</h2>
		<input type="text" id="username" name="username" placeholder="Enter Username" />
		<input type="password" id="pswd" name="password" placeholder="Enter Password" />
		<input type="password" id="pswd-agn" name="conf_password" placeholder="Enter Password Again" />

		<input type="submit" id="loginbtn" value="Sign up"/> 
		<h4 > <a href="login.html" style="color:white">Sign in</a></h4>

	</form>
	
</div>
</body>
</html>